@using MongoNotes.ModelViews
@model IEnumerable<NoteViewModel>
@{
    ViewData["Title"] = "Notes";
}

<div class="text-center">
    <h1 class="display-4">MongoNotes</h1>
    <br/>
    <br/>
    <br/>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Título</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
      @foreach (var note in Model)
      {
          <tr>
              <th scope="row">@note.Date.ToString("dd/MM/yyyy")</th>
              <td>
                  <a asp-action="Details" asp-route-id=@note.Id>@note.Title</a>
              </td>
              <td>
                  <a class="btn btn-sm fw-bold" style="color: #000; background: #ffc720;" asp-action="Edit" asp-route-id=@note.Id>
                      <i class="fa-solid fa-pencil"></i>
                      Edit
                  </a>
                  <a class="btn btn-sm fw-bold" style="background: #ce0a31; color: white;" asp-action="Delete" asp-route-id=@note.Id>
                      <i class="fa-solid fa-trash-can"></i>
                      Delete
                  </a>
              </td>
          </tr>
      }
      </tbody>
    </table>
</div>